body {
  margin: 0;
}

.container{
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  opacity: 0.6;
  font-weight: bold;
}

.logo-container {
  background-image: url("background-image.jpg");
  background-size: cover;
  height: 100vh;
  width: 30%;
  color: white;
  font-size: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 432px;
}

.logo-container img {
  width: 80px;
}

.header {
  margin-top: 154px;
}

.footer {
  font-size: 16px;
}

.footer a {
  color: white
}