body {
  margin: 0;
  background-color: black;
}

.container{
  display: flex;
  margin-left: 288px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  opacity: 0.6;
  font-weight: bold;
  height: 128px;
}

.logo-container {
  background-image: url("background-image.jpg");
  background-size: cover;
  height: 100vh;
  width: 30%;
  color: white;
  font-size: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 648px;
}

.logo-container img {
  width: 80px;
}

.header {
  margin-top: 154px;
}

.footer {
  font-size: 16px;
}

.footer a {
  color: white
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: whitesmoke;
}

.form {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  font-size: 15px;
}

.form input {
  width: 256px;
  height: 24px;
  border-radius: 5px;
  border-color: lightgray;
}

.form-info {
  margin-top: 128px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 32px;
  padding-right: 128px;
}
.form-submit {
  flex-grow: 1;
  font-size: 20px;
  padding-left: 32px;

}

.form-submit button {
  width: 256px;
  height: 48px;
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: 24px 0;
}

.form-submit a {
  text-decoration: none;
  color: green;
}

.form-card {
  background-color: white;
  padding: 32px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}